img{
    width: px;
}

p {
    padding-left: 25px;
}

img{
    padding-left: px;
}

p b{
    padding-left: 225px;
}

h1{
    padding-left: 750px;
}

h1{
    font-size: 50px;
}

table{
    padding-left: 750px;
}

table{
    padding-right: 750px;
}

p{
    font-size: 16px;
}

h3{
    padding-left: 230px;
}

h3{
    margin-top: 100px;
}

h3{
    font-family: system-ui;
}

img{

}

h3{
    padding-bottom: 30px;
}

h1{
    padding-top: 60px;
}

h1{
    padding-bottom: 50px;
}

p{
    padding-bottom: 10px;
}